openapi: 3.1.0
info:
  title: API Reference agents orders API
  version: 1.0.0
servers:
- url: https://api.agentpaid.io/api/v1
  description: Production
tags:
- name: orders
paths:
  /orders:
    get:
      operationId: list
      summary: List orders
      tags:
      - orders
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
    post:
      operationId: create
      summary: Create order
      tags:
      - orders
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
  /orders/{orderId}:
    get:
      operationId: get
      summary: Get order by ID
      tags:
      - orders
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    delete:
      operationId: delete
      summary: Delete order
      tags:
      - orders
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders_delete_Response_204'
  /orders/{orderId}/activate:
    post:
      operationId: activate
      summary: Activate order
      tags:
      - orders
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
  /orders/{orderId}/activate-and-pay:
    post:
      operationId: activate-and-pay
      summary: Activate order and process payment
      description: Activates the order and processes the initial payment using the provided Stripe confirmation token.
      tags:
      - orders
      parameters:
      - name: orderId
        in: path
        description: The order ID (can be internal ID or display ID)
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order activated and payment processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad request - Invalid customer state or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmationToken:
                  type: string
                  description: Stripe confirmation token for the payment method
                returnUrl:
                  type: string
                  description: URL to redirect to after payment processing
              required:
              - confirmationToken
              - returnUrl
  /orders/{orderId}/cancel:
    post:
      operationId: cancel-renewal
      summary: Cancel order renewal
      description: Schedules the cancellation of an order's renewal from a specified date. The order will remain active until the cancellation date.
      tags:
      - orders
      parameters:
      - name: orderId
        in: path
        description: The order ID (can be internal ID or display ID)
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order renewal cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelRenewalResponse'
        '400':
          description: Bad request - Invalid order version or cancel from date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRenewalRequest'
  /orders/{orderId}/schedule-plan-change:
    post:
      operationId: schedule-plan-change
      summary: Schedule a plan change with proration
      description: Schedules a plan upgrade or downgrade for an order with automatic proration calculation. Credits are applied for the unused portion of the current billing period.
      tags:
      - orders
      parameters:
      - name: orderId
        in: path
        description: The order ID (can be internal ID or display ID)
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Plan change scheduled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProrationUpgradeResponse'
        '400':
          description: Bad request - Invalid order version, effective date, or attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProrationUpgradeRequest'
  /orders/{orderId}/invoices:
    get:
      operationId: get-invoices
      summary: Get invoices for an order
      description: Retrieves all invoices associated with a specific order.
      tags:
      - orders
      parameters:
      - name: orderId
        in: path
        description: The order ID (can be internal ID or display ID)
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
        '403':
          description: Forbidden - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders/:
    get:
      operationId: list-orders
      summary: List orders
      description: Get a list of orders for the organization
      tags:
      - orders
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      - name: customerId
        in: query
        description: Filter by customer ID.
        required: false
        schema:
          type: string
      - name: externalCustomerId
        in: query
        description: Filter by customer external ID.
        required: false
        schema:
          type: string
      - name: externalId
        in: query
        description: Filter by the order's external ID (exact match).
        required: false
        schema:
          type: string
      - name: creationState
        in: query
        description: 'Filter by creation state: draft or active.'
        required: false
        schema:
          $ref: '#/components/schemas/OrdersGetParametersCreationState'
      - name: status
        in: query
        description: 'Filter by derived order status. draft: not yet activated. paused: billing is paused. ended: end date is in the past. active: activated, not paused, and not ended.'
        required: false
        schema:
          $ref: '#/components/schemas/OrdersGetParametersStatus'
      - name: startDateFrom
        in: query
        description: Only orders whose start date is on or after this date. Accepts an ISO 8601 date or date-time. Date-only values (e.g. 2026-06-30) are treated as UTC; date-times without an explicit timezone offset are ambiguous, so include one (e.g. 2026-06-30T00:00:00-05:00) when precision matters.
        required: false
        schema:
          type: string
      - name: startDateTo
        in: query
        description: Only orders whose start date is on or before this date. Accepts an ISO 8601 date or date-time. Date-only values (e.g. 2026-06-30) are treated as UTC; date-times without an explicit timezone offset are ambiguous, so include one (e.g. 2026-06-30T00:00:00-05:00) when precision matters.
        required: false
        schema:
          type: string
      - name: endDateFrom
        in: query
        description: Only orders whose end date is on or after this date. Orders without an end date are not matched. Accepts an ISO 8601 date or date-time. Date-only values (e.g. 2026-06-30) are treated as UTC; date-times without an explicit timezone offset are ambiguous, so include one (e.g. 2026-06-30T00:00:00-05:00) when precision matters.
        required: false
        schema:
          type: string
      - name: endDateTo
        in: query
        description: Only orders whose end date is on or before this date. Orders without an end date are not matched. Accepts an ISO 8601 date or date-time. Date-only values (e.g. 2026-06-30) are treated as UTC; date-times without an explicit timezone offset are ambiguous, so include one (e.g. 2026-06-30T00:00:00-05:00) when precision matters.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create-order
      summary: Create a new order
      description: Creates a new order for the organization
      tags:
      - orders
      parameters:
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '201':
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_2'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
  /orders/{id}:
    get:
      operationId: get-order-by-id
      summary: Get order
      description: Get an order by ID
      tags:
      - orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_2'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: update-order-by-id
      summary: Update order
      description: Update an order by ID
      tags:
      - orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_2'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
    delete:
      operationId: delete-order-by-id
      summary: Delete order
      description: Delete an order by ID
      tags:
      - orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{id}/activate:
    post:
      operationId: activate-order-by-id
      summary: Activate order
      description: Activate a draft order by ID. Activation starts billing for the order using the same validation and side effects as the dashboard activation flow.
      tags:
      - orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_2'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{id}/lines:
    get:
      operationId: get-order-lines
      summary: Get order lines
      description: Get the order lines for an order by ID
      tags:
      - orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLinesResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{id}/seats:
    get:
      operationId: list-order-seats
      summary: List seats
      description: List seats for an order
      tags:
      - orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      - name: productExternalId
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/OrdersIdSeatsGetParametersStatus'
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSeatListResponse'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{id}/seats/{seatId}:
    put:
      operationId: update-order-seat-assignment
      summary: Assign or unassign seat
      description: Assign or unassign a single seat on an order
      tags:
      - orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: seatId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSeat'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: '409'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSeatAssignmentRequest'
  /orders/{id}/seat-assignments:
    post:
      operationId: batch-order-seat-assignments
      summary: Batch assign seats
      description: Assign or unassign seats in batch for an order
      tags:
      - orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSeatAssignmentsResponse'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: '409'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSeatAssignmentsRequest'
components:
  schemas:
    Agent:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        organizationId:
          type: string
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        agentCode:
          type: string
        agentAttributes:
          type: array
          items:
            $ref: '#/components/schemas/AgentAttribute'
      required:
      - id
      - organizationId
      - name
      - active
      title: Agent
    PricingModelType:
      type: string
      enum:
      - PerUnit
      - VolumePricing
      - GraduatedPricing
      - PrepaidCredits
      title: PricingModelType
    Customer:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        name:
          type: string
        externalId:
          type: string
        phone:
          type: string
        employeeCount:
          type: number
          format: double
        annualRevenue:
          type: number
          format: double
        taxExemptStatus:
          $ref: '#/components/schemas/TaxExemptStatus'
        creationSource:
          $ref: '#/components/schemas/CreationSource'
        creationState:
          $ref: '#/components/schemas/CreationState'
        website:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        metadata:
          $ref: '#/components/schemas/CustomerMetadata'
          description: Flexible JSON field for storing custom metadata about the customer
      required:
      - id
      - organizationId
      - name
      title: Customer
    CreateOrderLineAttributeRequestPricingBillingFrequency:
      type: string
      enum:
      - monthly
      - quarterly
      - semiAnnually
      - annual
      - custom
      title: CreateOrderLineAttributeRequestPricingBillingFrequency
    OrderCreationState:
      type: string
      enum:
      - draft
      - active
      title: OrderCreationState
    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        displayId:
          type: string
          description: Human-readable invoice number
        organizationId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/InvoiceStatus'
        currency:
          type: string
        subtotal:
          type: number
          format: double
          description: Total before tax (in smallest currency unit)
        tax:
          type: number
          format: double
          description: Tax amount (in smallest currency unit)
        total:
          type: number
          format: double
          description: Total amount including tax (in smallest currency unit)
        amountPaid:
          type: number
          format: double
          description: Amount already paid (in smallest currency unit)
        amountDue:
          type: number
          format: double
          description: Amount still due (in smallest currency unit)
        dueDate:
          type: string
          format: date-time
        paidAt:
          type:
          - string
          - 'null'
          format: date-time
        voidedAt:
          type:
          - string
          - 'null'
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        customer:
          $ref: '#/components/schemas/Customer'
      description: An invoice for an order
      title: Invoice
    CreateOrderLineAttributeRequestPricingCreditBenefitsItemsRecipient:
      type: string
      enum:
      - organization
      - seat
      title: CreateOrderLineAttributeRequestPricingCreditBenefitsItemsRecipient
    EmptyResponse:
      type: object
      properties: {}
      title: EmptyResponse
    OrderLineAttributePricing:
      type: object
      properties:
        eventName:
          type: string
        chargeType:
          $ref: '#/components/schemas/ChargeType'
        pricePoint:
          $ref: '#/components/schemas/PricePoint'
        pricingModel:
          $ref: '#/components/schemas/PricingModelType'
        billingFrequency:
          $ref: '#/components/schemas/BillingFrequency'
      title: OrderLineAttributePricing
    SeatAssignmentStatus:
      type: string
      enum:
      - assigned
      - unassigned
      title: SeatAssignmentStatus
    Pagination:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
      required:
      - limit
      - offset
      - total
      - hasMore
      title: Pagination
    CreateOrderLineAttributeRequestPricingPricingInput:
      type: object
      properties:
        kind:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingPricingInputKind'
      required:
      - kind
      title: CreateOrderLineAttributeRequestPricingPricingInput
    OrderCreate:
      type: object
      properties:
        customerId:
          type: string
        customerExternalId:
          type: string
        billingContactId:
          type: string
        name:
          type: string
        description:
          type: string
        startDate:
          type: string
        endDate:
          type: string
        currency:
          type: string
        planId:
          type: string
          format: uuid
          description: Optional plan ID to associate with this order
        orderLines:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineCreate'
      required:
      - name
      - startDate
      - currency
      title: OrderCreate
    OrdersGetParametersCreationState:
      type: string
      enum:
      - draft
      - active
      title: OrdersGetParametersCreationState
    OrderLineType:
      type: string
      enum:
      - STANDARD
      - PRORATION_CREDIT
      - PRORATION_CHARGE
      - CREDIT
      title: OrderLineType
    CancelRenewalResponse:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
          description: The ID of the order
        amendmentId:
          type: string
          format: uuid
          description: The ID of the amendment record
        version:
          type: integer
          description: The new version of the order after the amendment
        endDate:
          type: string
          format: date-time
          description: The new end date of the order
        effectiveDate:
          type: string
          format: date-time
          description: The effective date of the cancellation
      required:
      - orderId
      - amendmentId
      - version
      - endDate
      - effectiveDate
      description: Response after successfully cancelling an order's renewal
      title: CancelRenewalResponse
    UpdateSeatAssignmentRequest:
      type: object
      properties:
        userExternalId:
          type:
          - string
          - 'null'
      required:
      - userExternalId
      title: UpdateSeatAssignmentRequest
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: string
      required:
      - error
      title: ErrorResponse
    Tier:
      type: object
      properties:
        lowerBound:
          type: number
          format: double
        upperBound:
          type: number
          format: double
        price:
          type: number
          format: double
      title: Tier
    ProrationDetail:
      type: object
      properties:
        oldAttributeId:
          type: string
          format: uuid
        newAttributeId:
          type: string
          format: uuid
        creditLineId:
          type: string
          format: uuid
        oldPrice:
          type: number
          format: double
        newPrice:
          type: number
          format: double
        creditAmount:
          type: number
          format: double
          description: The credit amount applied for the unused portion
        remainingDays:
          type: integer
          description: Number of days remaining in the current billing cycle
        totalDaysInCycle:
          type: integer
          description: Total number of days in the billing cycle
      description: Details about the proration calculation for an attribute
      title: ProrationDetail
    SeatAssignee:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        email:
          type:
          - string
          - 'null'
      required:
      - id
      - externalId
      - email
      title: SeatAssignee
    Order:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        customerId:
          type: string
        organizationId:
          type: string
        startDate:
          type: string
        endDate:
          type: string
        totalAmount:
          type: number
          format: double
        estimatedTax:
          type: number
          format: double
        billedAmountNoTax:
          type: number
          format: double
        billedTax:
          type: number
          format: double
        totalBilledAmount:
          type: number
          format: double
        pendingBillingAmount:
          type: number
          format: double
        creationState:
          $ref: '#/components/schemas/CreationState'
        orderLines:
          type: array
          items:
            $ref: '#/components/schemas/OrderLine'
        customer:
          $ref: '#/components/schemas/Customer'
      title: Order
    AgentPricePoint:
      type: object
      properties:
        unitPrice:
          type: number
          format: double
        minQuantity:
          type: number
          format: double
        includedQuantity:
          type: number
          format: double
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/AgentPricePointTiers'
      title: AgentPricePoint
    OrderLinesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrderLine_2'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      title: OrderLinesResponse
    CreateOrderLineAttributeRequestPricingPricePointsTiersItems:
      type: object
      properties:
        flatAmount:
          type: number
          format: double
        index:
          type: number
          format: double
        lowerBound:
          type: number
          format: double
        number:
          type: number
          format: double
        tierBillingType:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingPricePointsTiersItemsTierBillingType'
        unitAmount:
          type: number
          format: double
        upperBound:
          type: number
          format: double
      title: CreateOrderLineAttributeRequestPricingPricePointsTiersItems
    ChargeType:
      type: string
      enum:
      - oneTime
      - recurring
      - usage
      - seatBased
      title: ChargeType
    OrderBillingFrequencyOverrideFrequency:
      type: string
      enum:
      - monthly
      - quarterly
      - semiAnnually
      - annual
      - custom
      title: OrderBillingFrequencyOverrideFrequency
    CreateOrderLineAttributeRequestPricingBillingType:
      type: string
      enum:
      - advance
      - arrears
      title: CreateOrderLineAttributeRequestPricingBillingType
    orders_delete_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: orders_delete_Response_204
    ProrationUpgradeRequest:
      type: object
      properties:
        orderVersion:
          type: integer
          description: The current version of the order (for optimistic locking)
        effectiveDate:
          type: string
          format: date-time
          description: The date when the plan change should take effect (ISO 8601 format)
        updatedOrderLineAttributes:
          type: array
          items:
            $ref: '#/components/schemas/ProrationAttributeUpdate'
          description: The list of order line attributes to update
      required:
      - orderVersion
      - effectiveDate
      - updatedOrderLineAttributes
      description: Request to schedule a plan change with proration
      title: ProrationUpgradeRequest
    OrderListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order_2'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      title: OrderListResponse
    CreateOrderLineAttributeRequestPricingChargeType:
      type: string
      enum:
      - usage
      - recurring
      - oneTime
      - seatBased
      title: CreateOrderLineAttributeRequestPricingChargeType
    OrderLine_2:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        startDate:
          type: string
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        lineType:
          $ref: '#/components/schemas/OrderLineType'
      required:
      - id
      - productId
      - name
      - description
      - startDate
      - endDate
      - lineType
      title: OrderLine
    CreateOrderRequest:
      type: object
      properties:
        customerId:
          type: string
        billingCustomerId:
          type: string
        billingContactIds:
          type: array
          items:
            type: string
        name:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        subscriptionTerms:
          type: integer
        creationState:
          $ref: '#/components/schemas/OrderCreationState'
        billingAnchor:
          type: integer
          description: Day of month for billing anchor (1-31). Defaults to start date day if not provided.
        paymentTerms:
          type: string
        externalId:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Any type
        currency:
          type: string
        autoPostInvoices:
          type: boolean
        autoSendBillingEmails:
          type: boolean
        autoSendPaymentEmails:
          type: boolean
        lines:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderLineRequest'
        billingFrequencyOverride:
          $ref: '#/components/schemas/OrderBillingFrequencyOverride'
        purchaseOrderReference:
          type:
          - string
          - 'null'
          description: Purchase order number printed on invoices generated from this order.
      required:
      - customerId
      title: CreateOrderRequest
    BatchSeatAssignmentsRequestAssignmentsItems:
      type: object
      properties:
        seatId:
          type: string
        userExternalId:
          type:
          - string
          - 'null'
      required:
      - seatId
      - userExternalId
      title: BatchSeatAssignmentsRequestAssignmentsItems
    Error:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      required:
      - error
      description: An error response from the Paid API
      title: Error
    OrderBillingFrequencyOverride:
      type: object
      properties:
        frequency:
          $ref: '#/components/schemas/OrderBillingFrequencyOverrideFrequency'
        customMonths:
          type:
          - integer
          - 'null'
      required:
      - frequency
      title: OrderBillingFrequencyOverride
    OrdersGetParametersStatus:
      type: string
      enum:
      - draft
      - paused
      - active
      - ended
      title: OrdersGetParametersStatus
    CreateOrderLineRequest:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderLineAttributeRequest'
        lineType:
          $ref: '#/components/schemas/WritableOrderLineType'
      required:
      - productId
      description: When override `attributes` are omitted, the order will match the base product (or default plan if plans are configured).
      title: CreateOrderLineRequest
    CreateOrderLineAttributeRequestPricing:
      type: object
      properties:
        eventName:
          type: string
        chargeType:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingChargeType'
        pricePoints:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingPricePoints'
          description: Single flat price point for this order attribute override. Do not send a currency-keyed map here.
        pricingModel:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingPricingModel'
        billingFrequency:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingBillingFrequency'
        billingFrequencyCustomMonths:
          type: integer
        billingType:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingBillingType'
        signalType:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingSignalType'
        creditsCurrencyId:
          type: string
        creditCost:
          type: number
          format: double
        overageUnitPrice:
          type: number
          format: double
        creditRolloverAmount:
          type: number
          format: double
        creditBenefits:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingCreditBenefitsItems'
        pricingInput:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingPricingInput'
        creditUnitBrackets:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingCreditUnitBracketsItems'
      required:
      - chargeType
      - pricePoints
      - pricingModel
      title: CreateOrderLineAttributeRequestPricing
    CreateOrderLineAttributeRequest:
      type: object
      properties:
        name:
          type: string
        quantity:
          type: integer
        pricing:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricing'
      required:
      - name
      - pricing
      title: CreateOrderLineAttributeRequest
    BatchSeatAssignmentsRequest:
      type: object
      properties:
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/BatchSeatAssignmentsRequestAssignmentsItems'
      required:
      - assignments
      title: BatchSeatAssignmentsRequest
    BatchSeatAssignmentsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrderSeat'
      required:
      - data
      title: BatchSeatAssignmentsResponse
    CreateOrderLineAttributeRequestPricingCreditBenefitsItemsCreditGrantTiming:
      type: string
      enum:
      - on_payment
      - on_invoice_posted
      - on_order_activation
      title: CreateOrderLineAttributeRequestPricingCreditBenefitsItemsCreditGrantTiming
    CreationState:
      type: string
      enum:
      - active
      - draft
      title: CreationState
    AgentAttribute:
      type: object
      properties:
        name:
          type: string
        active:
          type: boolean
        pricing:
          $ref: '#/components/schemas/Pricing'
      required:
      - name
      - active
      - pricing
      title: AgentAttribute
    CreateOrderLineAttributeRequestPricingSignalType:
      type: string
      enum:
      - activity
      - outcome
      title: CreateOrderLineAttributeRequestPricingSignalType
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A human-readable message providing more details about the error.
        code:
          type: string
        details:
          type: string
      description: An API error response from the Paid API
      title: ApiError
    OrderSeatListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrderSeat'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      title: OrderSeatListResponse
    CreateOrderLineAttributeRequestPricingPricePoints:
      type: object
      properties:
        currency:
          type: string
        unitPrice:
          type: number
          format: double
        minQuantity:
          type: number
          format: double
        includedQuantity:
          type: number
          format: double
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingPricePointsTiersItems'
      required:
      - unitPrice
      description: Single flat price point for this order attribute override. Do not send a currency-keyed map here.
      title: CreateOrderLineAttributeRequestPricingPricePoints
    CreateOrderLineAttributeRequestPricingCreditBenefitsItemsAllocationCadence:
      type: string
      enum:
      - upfront
      - monthly
      title: CreateOrderLineAttributeRequestPricingCreditBenefitsItemsAllocationCadence
    CreateOrderLineAttributeRequestPricingPricingInputKind:
      type: string
      enum:
      - signalQuantity
      title: CreateOrderLineAttributeRequestPricingPricingInputKind
    ProrationUpgradeResponse:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
          description: The ID of the order
        amendmentId:
          type: string
          format: uuid
          description: The ID of the amendment record
        version:
          type: integer
          description: The new version of the order after the amendment
        effectiveDate:
          type: string
          format: date-time
          description: The effective date of the plan change
        endedLineIds:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of order lines that were ended
        createdLineIds:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of new order lines that were created
        creditLineIds:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of credit lines that were created
        prorationDetails:
          type: array
          items:
            $ref: '#/components/schemas/ProrationDetail'
          description: Detailed proration calculations for each updated attribute
      required:
      - orderId
      - amendmentId
      - version
      - effectiveDate
      - endedLineIds
      - createdLineIds
      - creditLineIds
      - prorationDetails
      description: Response after successfully scheduling a plan change
      title: ProrationUpgradeResponse
    PricePoint:
      type: object
      properties:
        currency:
          type: string
        unitPrice:
          type: number
          format: double
        minQuantity:
          type: number
          format: double
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/Tier'
      title: PricePoint
    OrdersIdSeatsGetParametersStatus:
      type: string
      enum:
      - assigned
      - unassigned
      title: OrdersIdSeatsGetParametersStatus
    CreateOrderLineAttributeRequestPricingPricePointsTiersItemsTierBillingType:
      type: string
      enum:
      - flat
      - perUnit
      title: CreateOrderLineAttributeRequestPricingPricePointsTiersItemsTierBillingType
    CreateOrderLineAttributeRequestPricingPricingModel:
      type: string
      enum:
      - perUnit
      - volumePricing
      - graduatedPricing
      - prepaidCredits
      - bracketedPrepaidCredits
      - flat
      title: CreateOrderLineAttributeRequestPricingPricingModel
    OrderLineAttribute:
      type: object
      properties:
        agentAttributeId:
          type: string
        quantity:
          type: number
          format: double
        currency:
          type: string
        pricing:
          $ref: '#/components/schemas/OrderLineAttributePricing'
      title: OrderLineAttribute
    CustomerMetadata:
      type: object
      properties: {}
      description: Flexible JSON field for storing custom metadata about the customer
      title: CustomerMetadata
    CreateOrderLineAttributeRequestPricingCreditUnitBracketsItems:
      type: object
      properties:
        upTo:
          type:
          - integer
          - 'null'
        creditUnits:
          type: integer
      required:
      - upTo
      - creditUnits
      title: CreateOrderLineAttributeRequestPricingCreditUnitBracketsItems
    Address:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string
        country:
          type: string
      required:
      - line1
      - city
      - state
      - zipCode
      - country
      title: Address
    UpdateOrderRequest:
      type: object
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        subscriptionTerms:
          type: integer
        creationState:
          $ref: '#/components/schemas/OrderCreationState'
        billingAnchor:
          type: integer
          description: Day of month for billing anchor (1-31). Defaults to start date day if not provided.
        paymentTerms:
          type: string
        externalId:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Any type
        billingCustomerId:
          type: string
        billingContactIds:
          type: array
          items:
            type: string
        autoPostInvoices:
          type: boolean
        autoSendBillingEmails:
          type: boolean
        autoSendPaymentEmails:
          type: boolean
        purchaseOrderReference:
          type:
          - string
          - 'null'
          description: Purchase order number printed on invoices generated from this order.
      title: UpdateOrderRequest
    Pricing:
      type: object
      properties:
        eventName:
          type: string
        taxable:
          type: boolean
        creditCost:
          type: number
          format: double
        chargeType:
          $ref: '#/components/schemas/ChargeType'
        pricingModel:
          $ref: '#/components/schemas/PricingModelType'
        billingFrequency:
          $ref: '#/components/schemas/BillingFrequency'
        pricePoints:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AgentPricePoint'
      required:
      - taxable
      - chargeType
      - pricingModel
      - billingFrequency
      - pricePoints
      title: Pricing
    BillingFrequency:
      type: string
      enum:
      - monthly
      - quarterly
      - annual
      title: BillingFrequency
    InvoiceStatus:
      type: string
      enum:
      - draft
      - open
      - paid
      - void
      - uncollectible
      title: InvoiceStatus
    OrderLineAttributeCreate:
      oneOf:
      - description: Any type
      - description: Any type
      title: OrderLineAttributeCreate
    Order_2:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        billingCustomerId:
          type:
          - string
          - 'null'
        billingContactIds:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type: string
        startDate:
          type: string
          format: date-time
        subscriptionTerms:
          type:
          - integer
          - 'null'
        billedAmountNoTax:
          type: number
          format: double
        billedTax:
          type: number
          format: double
        estimatedTax:
          type: number
          format: double
        orderAmount:
          type: number
          format: double
        pendingBillingAmount:
          type: number
          format: double
        totalAmount:
          type: number
          format: double
        totalBilledAmount:
          type: number
          format: double
        creationState:
          $ref: '#/components/schemas/OrderCreationState'
        paymentTerms:
          type:
          - string
          - 'null'
        number:
          type: number
          format: double
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            description: Any type
        showPaymentLink:
          type:
          - boolean
          - 'null'
        showBankDetails:
          type:
          - boolean
          - 'null'
        autoPostInvoices:
          type:
          - boolean
          - 'null'
        autoSendBillingEmails:
          type:
          - boolean
          - 'null'
        autoSendPaymentEmails:
          type:
          - boolean
          - 'null'
        version:
          type: integer
        billingFrequencyOverridden:
          type: boolean
        billingFrequencyOverride:
          $ref: '#/components/schemas/OrderBillingFrequencyOverride'
        purchaseOrderReference:
          type:
          - string
          - 'null'
      required:
      - id
      - customerId
      - billingCustomerId
      - billingContactIds
      - createdAt
      - updatedAt
      - endDate
      - name
      - startDate
      - subscriptionTerms
      - billedAmountNoTax
      - billedTax
      - estimatedTax
      - orderAmount
      - pendingBillingAmount
      - totalAmount
      - totalBilledAmount
      - creationState
      - paymentTerms
      - number
      - metadata
      - showPaymentLink
      - showBankDetails
      - autoPostInvoices
      - autoSendBillingEmails
      - autoSendPaymentEmails
      - version
      - billingFrequencyOverridden
      - purchaseOrderReference
      title: Order
    OrderLineCreate:
      type: object
      properties:
        productId:
          type: string
          description: Paid's internal ID for the product
        productExternalId:
          type: string
          description: The external ID of the product i.e. the id within your system
        agentId:
          type: string
          description: 'DEPRECATED: Use productId instead. Paid''s internal ID for the agent/product'
        agentExternalId:
          type: string
          description: 'DEPRECATED: Use productExternalId instead. The external ID of the agent/product i.e. the id within your system'
        name:
          type: string
          description: Name of the order line
        description:
          type: string
          description: Description of the order line
        ProductAttribute:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineAttributeCreate'
          description: Optional array of custom product attributes to override default pricing, allowing per customer pricing. If not provided, attributes will be auto-generated from the product definition.
        agentAttributes:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineAttributeCreate'
          description: 'DEPRECATED: Use ProductAttribute instead. Optional array of custom agent attributes to override default pricing, allowing per customer pricing. If not provided, attributes will be auto-generated from the product definition.'
      title: OrderLineCreate
    OrderLine:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        agentId:
          type: string
        name:
          type: string
        description:
          type: string
        startDate:
          type: string
        endDate:
          type: string
        totalAmount:
          type: number
          format: double
        billedAmountWithoutTax:
          type: number
          format: double
        billedTax:
          type: number
          format: double
        totalBilledAmount:
          type: number
          format: double
        creationState:
          $ref: '#/components/schemas/CreationState'
        agent:
          $ref: '#/components/schemas/Agent'
        orderLineAttributes:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineAttribute'
      title: OrderLine
    CancelRenewalRequest:
      type: object
      properties:
        orderVersion:
          type: integer
          description: The current version of the order (for optimistic locking)
        cancelFromDate:
          type: string
          format: date-time
          description: The date from which the renewal should be cancelled (ISO 8601 format)
      required:
      - orderVersion
      - cancelFromDate
      description: Request to cancel an order's renewal
      title: CancelRenewalRequest
    TaxExemptStatus:
      type: string
      enum:
      - none
      - exempt
      - reverse
      title: TaxExemptStatus
    CreationSource:
      type: string
      enum:
      - manual
      - api
      - crm
      - other
      title: CreationSource
    CreateOrderLineAttributeRequestPricingCreditBenefitsItems:
      type: object
      properties:
        id:
          type: string
        creditsCurrencyId:
          type: string
        recipient:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingCreditBenefitsItemsRecipient'
        amount:
          type: number
          format: double
        rolloverAmount:
          type:
          - number
          - 'null'
          format: double
        rolloverDuration:
          type:
          - number
          - 'null'
          format: double
        rolloverDurationUnit:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingCreditBenefitsItemsRolloverDurationUnit'
        allocationCadence:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingCreditBenefitsItemsAllocationCadence'
        creditGrantTiming:
          $ref: '#/components/schemas/CreateOrderLineAttributeRequestPricingCreditBenefitsItemsCreditGrantTiming'
      required:
      - id
      - amount
      title: CreateOrderLineAttributeRequestPricingCreditBenefitsItems
    ProrationAttributeUpdate:
      type: object
      properties:
        orderLineAttributeId:
          type: string
          format: uuid
          description: The ID of the order line attribute to update
        newPricing:
          type: object
          additionalProperties:
            description: Any type
          description: The new pricing configuration
        newQuantity:
          type: number
          format: double
          description: Optional new quantity for the attribute
      required:
      - orderLineAttributeId
      - newPricing
      description: An attribute update for a proration upgrade
      title: ProrationAttributeUpdate
    CreateOrderLineAttributeRequestPricingCreditBenefitsItemsRolloverDurationUnit:
      type: string
      enum:
      - days
      - months
      title: CreateOrderLineAttributeRequestPricingCreditBenefitsItemsRolloverDurationUnit
    OrderSeat:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        productExternalId:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/SeatAssignmentStatus'
        assignee:
          $ref: '#/components/schemas/SeatAssignee'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - orderId
      - productExternalId
      - status
      - assignee
      - createdAt
      - updatedAt
      title: OrderSeat
    WritableOrderLineType:
      type: string
      enum:
      - STANDARD
      - CREDIT
      description: Defaults to STANDARD. Set to CREDIT for customer-authored, term-bound discount lines whose amounts contribute negatively to invoice aggregates.
      title: WritableOrderLineType
    AgentPricePointTiers:
      type: object
      properties:
        minQuantity:
          type: number
          format: double
        maxQuantity:
          type: number
          format: double
        unitPrice:
          type: number
          format: double
      required:
      - unitPrice
      title: AgentPricePointTiers
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
