openapi: 3.2.0
info:
  title: Reference Signals API
  version: 1.0.0
servers:
- url: https://api.agentpaid.io/api/v2
  description: Production API
tags:
- name: Signals
paths:
  /signals/bulk:
    post:
      operationId: create-signals
      summary: Create signals in bulk
      description: Create multiple signals (usage events) in a single request. Each signal must include a customer attribution (either customerId or externalCustomerId) and a product attribution (either productId or externalProductId).
      tags:
      - Signals
      parameters:
      - name: Authorization
        in: header
        description: API Key authentication using Bearer token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSignalsResponse'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: '403'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSignalsRequest'
components:
  schemas:
    Attribution:
      oneOf:
      - $ref: '#/components/schemas/ProductById'
      - $ref: '#/components/schemas/ProductByExternalId'
      title: Attribution
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: string
      required:
      - error
      title: ErrorResponse
    BulkSignalsResponse:
      type: object
      properties:
        ingested:
          type: integer
        duplicates:
          type: integer
        failed:
          type: integer
      required:
      - ingested
      - duplicates
      - failed
      title: BulkSignalsResponse
    ProductById:
      type: object
      properties:
        productId:
          type: string
          description: The Paid product ID
      required:
      - productId
      title: ProductById
    CustomerByExternalId:
      type: object
      properties:
        externalCustomerId:
          type: string
          description: Your external customer ID
      required:
      - externalCustomerId
      title: CustomerByExternalId
    ProductByExternalId:
      type: object
      properties:
        externalProductId:
          type: string
          description: Your external product ID
      required:
      - externalProductId
      title: ProductByExternalId
    Signal:
      type: object
      properties:
        eventName:
          type: string
        customer:
          $ref: '#/components/schemas/CustomerAttribution'
        attribution:
          $ref: '#/components/schemas/Attribution'
        timestamp:
          type: string
          format: date-time
          description: True event timestamp in RFC3339 format with timezone (e.g. 2026-01-31T23:00:00Z)
        data:
          type: object
          additionalProperties:
            description: Any type
        idempotencyKey:
          type: string
      required:
      - eventName
      - customer
      title: Signal
    CustomerAttribution:
      oneOf:
      - $ref: '#/components/schemas/CustomerById'
      - $ref: '#/components/schemas/CustomerByExternalId'
      title: CustomerAttribution
    CustomerById:
      type: object
      properties:
        customerId:
          type: string
          description: The Paid customer ID
      required:
      - customerId
      title: CustomerById
    BulkSignalsRequest:
      type: object
      properties:
        signals:
          type: array
          items:
            $ref: '#/components/schemas/Signal'
      required:
      - signals
      title: BulkSignalsRequest
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API Key authentication using Bearer token
